<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.racetime.xsad.dao.PriceSnapshootDao">

	<insert id="execute" >
		INSERT INTO ssp_report (
		  app_id,
		  media_id,
		  ssp_adslot_id,
		  ssp_price,
		  adx_adslot_id,
		  adx_price,
		  return_success_num,
		  DATETIME,
		  resource_type
		) 
		SELECT 
		  a.app_id,
		  a.media_id,
		  a.ssp_adslot_id,
		  a.ssp_price,
		  a.adx_adslot_id,
		  a.adx_price,
		  b.return_success_num,
		  DATE_SUB(CURDATE(), INTERVAL 1 DAY) ,
		  0
		FROM
		  (SELECT 
		    ssp.id ssp_adslot_id,
		    ssp.price ssp_price,
		    adx.id adx_adslot_id,
		    adx.floor_price adx_price,
		    app.id app_id,
		    app.media_id 
		  FROM
		    adx_adslot adx,
		    ssp_adslot ssp,
		    adslot_relation ad,
		    ssp_devicegroup d,
		    ssp_app app 
		  WHERE ad.ssp_adslot_id = ssp.id 
		    AND ad.adx_adslot_id = adx.id 
		    AND adx.state = 1 
		    AND ssp.status = 1 
		    AND app.resource_type=0
		    AND ssp.ssp_devicegroup_id = d.id 
		    AND d.ssp_app_id = app.id) a 
		  LEFT JOIN 
		    (SELECT 
		      r.ssp_adslot_id,
		      r.adx_adslot_id,
		      SUM(r.return_success_num) return_success_num 
		    FROM
		      adx_report r 
		    WHERE r.date_day = DATE_SUB(CURDATE(), INTERVAL 1 DAY) 
		    GROUP BY r.adx_adslot_id,
		      r.ssp_adslot_id) b 
		    ON a.ssp_adslot_id = b.ssp_adslot_id 
		    AND b.adx_adslot_id = a.adx_adslot_id  
	</insert>
	
	<insert id="pmpExecute">
		SELECT 
		  d.adslot_id ssp_adslot_id,
		  ROUND(SUM(d.ssp_adslot_price * d.num), 2) ssp_adslot_price,
		  d.adx_adslot_id,
		  ROUND(SUM(d.adx_adslot_price * d.num), 2) adx_adslot_price,
		  SUM(d.estimate_pv) return_success_num,
		  p.id app_id,
		  p.media_id 
		FROM
		  pmp_order_detail d 
		  LEFT JOIN ssp_adslot a 
		    ON d.adslot_id = a.id 
		  LEFT JOIN ssp_devicegroup g 
		    ON a.ssp_devicegroup_id = g.id 
		  LEFT JOIN ssp_app p 
		    ON g.ssp_app_id = p.id 
		WHERE d.put_time = DATE_SUB(CURDATE(), INTERVAL 1 DAY) 
		GROUP BY d.adslot_id,
		  d.adx_adslot_id 
	</insert>
</mapper>