<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.racetime.xsad.dao.StockDaoMapper" >
 
  
  <sql id="findPmpStock">
      <if test=" sdate != null and sdate != ''">
  	   and exists (select 1 from pmp_resource_stock t1 where t1.mdate &gt;= #{sdate} and t.id = t1.pmp_resource_id)
  	  </if>
  	  <if test=" edate != null and edate != ''">
  	   and exists (select 1 from pmp_resource_stock t1 where t1.mdate  &lt;= #{edate} and t.id = t1.pmp_resource_id)
      </if>
  </sql>
   
 <!--根据上游提供库存信息  -->
  <select id="getPmpResource" parameterType="Map" resultType="Map">
		SELECT t.id,t.name,t.ssp_adslot_id,t4.city_code,t5.scene_id,t2.ssp_app_id,t.pv,t.uv,t.device_num,t10.sailed_cpm as price,t10.cpm,t8.adx_adslot_id from pmp_resource t,
		ssp_devicegroup t2, ssp_adslot t3,pmp_resource_city t4, pmp_resource_scene t5,ssp_app t6,adx_app_devicegroup t8,adx_app t9,pmp_adxadslot_relation t10
		where t.ssp_adslot_id = t3.id
		and t2.id = t3.ssp_devicegroup_id
		and t3.id = t.ssp_adslot_id
		and t2.ssp_app_id = t6.id
		and t4.pmp_resource_id = t.id
		and t5.pmp_resource_id = t.id
	<!-- 	and t7.ssp_adslot_id = t.ssp_adslot_id
		and t7.adx_adslot_id = t8.adx_adslot_id -->
		and t8.adx_app_id = t9.id
		and t.id = t10.pmp_resource_id
		and t10.adx_adslot_id = t8.adx_adslot_id
		<!--  t.id = t1.pmp_resouce_id --> 
    	<if test="adx_app_id != null and adx_app_id != ''">  
       		and t9.id = #{adx_app_id}
    	</if>
    	<if test="city_code != null and city_code.size()> 0 ">
    		and t4.city_code in
    		<foreach collection="city_code" index="index" item="item" open="(" separator="," close=")">
          	     #{item}
        	</foreach>
    	</if>
    	<if test="scene_id != null and scene_id.size()>0 ">
    		and t5.scene_id in 
    		<foreach collection="scene_id" index="index" item="item" open="(" separator="," close=")">
          	     #{item}
        	</foreach>
    	</if>
    	<if test="channel_id != null and channel_id != ''">  
       		and t9.channel_id = #{channel_id}
    	</if>
		 <include refid="findPmpStock" />
  </select>
  
  <!--根据下游参数信息获取广告位  -->
   <select id="getPmpResourceBySSP" parameterType="Map" resultType="Map">
		  select t.id,t.name,t.ssp_adslot_id,t1.city_code,t2.scene_id,t3.ssp_app_id,t.pv,t.uv,t.device_num,t.price,t.cpm
		  from pmp_resource t, pmp_resource_city t1,pmp_resource_scene t2,ssp_devicegroup t3,ssp_adslot t4,ssp_app t5
		  where t.id = t1.pmp_resource_id 
		  and t.id = t2.pmp_resource_id
		  and t3.id = t4.ssp_devicegroup_id
		  and t4.id = t.ssp_adslot_id
		  and t3.ssp_app_id = t5.id
		  <if test="ssp_app_id != null and ssp_app_id != ''">  
       		and t3.ssp_app_id = #{ssp_app_id}
    	 </if>
    	 <if test="city_code != null and city_code.size()> 0 ">
    		and t1.city_code in
    		<foreach collection="city_code" index="index" item="item" open="(" separator="," close=")">
          	     #{item}
        	</foreach>
    	</if>
    	<if test="scene_id != null and scene_id.size()>0 ">
    		and t2.scene_id in 
    		<foreach collection="scene_id" index="index" item="item" open="(" separator="," close=")">
          	     #{item}
        	</foreach>
    	</if>
    	 <if test="ssp_adslot_id != null and ssp_adslot_id != ''">  
       		and t.ssp_adslot_id = #{ssp_adslot_id}
    	 </if>
		 <if test="media_id != null and media_id != ''">  
       		and t5.media_id = #{media_id}
    	 </if>
		    	
   		 <include refid="findPmpStock" />
   </select>
  <!--获取订单时间和投放份数  -->
  <select id="getOrderInfo" resultType="Map" parameterType="String">
	<!-- select t1.num as stock,min(t.put_time) as start_time ,max(t.put_time) as end_time
	from pmp_order_detail t , 
	pmp_orders t1 
	where  t.order_id = t1.orderid 
	and t1.order_type != '3'
	and t.pmp_resouce_stock_id in (
	  select t3.id from pmp_resource t2,pmp_resource_stock t3 where t2.id = t3.pmp_resource_id
	  and t2.id = #{pmp_resource_id}
	) -->
	select sum(t1.num) as stock, t.put_time as put_time
	from pmp_order_detail t , 
	pmp_orders t1 
	where  t.order_id = t1.orderid 
	and t1.order_type != '3'
	and t.pmp_resouce_stock_id in (
	  select t3.id from pmp_resource t2,pmp_resource_stock t3 where t2.id = t3.pmp_resource_id
	  and t2.id = #{pmp_resource_id}
	)
	GROUP BY t.put_time
	
	
	
  </select>
  
   <!--获取设备组投放时间和库存  -->
   <select id="getPmpResouceStock" parameterType="Map" resultType="Map">
   	 select t1.id,t1.mdate ,t1.stock from pmp_resource_stock t1 where t1.pmp_resource_id = #{pmp_resource_id} 
   	 <if test=" sdate != null and sdate != ''">
  	   and t1.mdate &gt;= #{sdate}
  	  </if>
  	  <if test=" edate != null and edate != ''">
  	  	and t1.mdate &lt;= #{edate}
      </if>
   	 
   </select>
   <!--获取app下所有投放库存量  -->
   <select id="getOderAppStock" parameterType="Map" resultType="String">
	 		SELECT
			sum(t2.num) as num
			FROM
			pmp_orders t1,pmp_order_detail t2
			WHERE   1=1
	 		<!--预定数量  -->
			<if test="type == 1">
			 and t1.order_type = '1'
			</if>	
	 		<!--锁定数量  -->
			<if test=" type == 2">
		 	 and t1.order_type = '2'
	 		</if>
			AND t1.orderid = t2.order_id
			and t2.adslot_id in (
				select t1.id from ssp_devicegroup t,ssp_adslot t1
				where t.ssp_app_id = #{ad_app_id} and t.id = t1.ssp_devicegroup_id
			)
			<if test=" sdate != null and sdate != ''">
  			   and t2.put_time &gt;= #{sdate} 
  	 	   </if>
	  	  <if test=" edate != null and edate != ''">
      		and t2.put_time &lt;= #{edate}
	      </if>		
			
			GROUP BY t2.adslot_id
   </select>
   <!--获取app下所有库存量  -->
   <select id="getAllAppStock"  resultType="Map" parameterType="Map">
 	select t1.ssp_app_id as app_id ,sum(t3.stock) total from pmp_resource t,ssp_devicegroup t1, ssp_adslot t2,pmp_resource_stock t3,ssp_app t4
	where t.ssp_adslot_id = t2.id and t2.ssp_devicegroup_id = t1.id
	and t.id = t3.pmp_resource_id
	and t1.ssp_app_id = t4.id
	 <if test="media_id != null and media_id != ''">  
       		and t4.media_id = #{media_id}
     </if>
	GROUP BY t1.ssp_app_id 
   </select>
   
   <!--修改库存  -->
   <update id="updatePmpResouceStock" parameterType="java.util.Map">
	    update pmp_resource_stock
	     set stock= #{stock}
	    where id in
   		<foreach collection="list" index="index" item="item" separator="," open="(" close=")">  
       		 #{item}  
      	</foreach>
   
   </update>
   
   <!--获取该资源日期下所有库存数  -->
 	<select id="getPmpResouceDatas" parameterType="Map" resultType="Map">
 		select pmp_resource_id,id as pmp_resource_stock_id,mdate from pmp_resource_stock where 1=1
 		<if test="list != null and list.size()> 0 ">
    		and id in
    		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
          	     #{item}
        	</foreach>
    	</if>
 		
 	
 	</select>
 
 
  
</mapper>