<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.racetime.xsad.dao.StockDaoMapper" >
 
  
  <sql id="findPmpStock">
      <if test=" sdate != null and sdate != ''">
  	   and exists (select 1 from pmp_resource_stock t1 where t1.mdate &gt;= #{sdate} and t.id = t1.pmp_resource_id)
  	  </if>
  	  <if test=" edate != null and edate != ''">
  	   and exists (select 1 from pmp_resource_stock t1 where t1.mdate  &lt;= #{edate} and t.id = t1.pmp_resource_id)
      </if>
  </sql>
   
 <!--获取设备组库存  -->
  <select id="getPmpResource" parameterType="Map" resultType="Map">
		SELECT t.id,t.name,t.ssp_adslot_id,t.city_code,t.scene_id,t.ssp_app_id,t.city_code,t.pv,t.uv,t.device_num from pmp_resource t 
		where
		1=1
		<!--  t.id = t1.pmp_resouce_id --> 
		<if test="ssp_adslot_id != null and ssp_adslot_id !=''">  
       		and t.ssp_adslot_id =#{ssp_adslot_id}
    	</if>  
    	<if test="ssp_app_id != null and ssp_app_id != ''">  
       		and t.ssp_app_id = #{ssp_app_id}
    	</if>
    	<if test="city_code != null and city_code.size()> 0 ">
    		and t.city_code in
    		<foreach collection="city_code" index="index" item="item" open="(" separator="," close=")">
          	     #{item}
        	</foreach>
    	</if>
    	<if test="scene_id != null and scene_id.size()>0 ">
    		and t.scene_id in 
    		<foreach collection="scene_id" index="index" item="item" open="(" separator="," close=")">
          	     #{item}
        	</foreach>
    	</if>
		 <include refid="findPmpStock" />
  </select>
  <!--获取订单时间和投放份数  -->
  <select id="getOrderInfo" resultType="Map" parameterType="String">
	<!-- select t1.num as stock,min(t.put_time) as start_time ,max(t.put_time) as end_time
	from pmp_order_detail t , 
	pmp_orders t1 
	where  t.order_id = t1.orderid 
	and t1.order_type != '3'
	and t.pmp_resouce_stock_id in (
	  select t3.id from pmp_resource t2,pmp_resource_stock t3 where t2.id = t3.pmp_resource_id
	  and t2.id = #{pmp_resource_id}
	) -->
	select sum(t1.num) as stock, t.put_time as put_time
	from pmp_order_detail t , 
	pmp_orders t1 
	where  t.order_id = t1.orderid 
	and t1.order_type != '3'
	and t.pmp_resouce_stock_id in (
	  select t3.id from pmp_resource t2,pmp_resource_stock t3 where t2.id = t3.pmp_resource_id
	  and t2.id = #{pmp_resource_id}
	)
	GROUP BY t.put_time
	
	
	
  </select>
  
   <!--获取设备组投放时间和库存  -->
   <select id="getPmpResouceStock" parameterType="Map" resultType="Map">
   	 select t1.id,t1.mdate ,t1.stock from pmp_resource_stock t1 where t1.pmp_resource_id = #{pmp_resource_id} 
   	 <if test=" sdate != null and sdate != ''">
  	   and t1.mdate &gt;= #{sdate}
  	  </if>
  	  <if test=" edate != null and edate != ''">
  	  	and t1.mdate &lt;= #{edate}
      </if>
   	 
   </select>
   <!--获取app下所有投放库存量  -->
   <select id="getOderAppStock" parameterType="String" resultType="Map">
	 		<!--  SELECT
		(
			SELECT
				sum(num)
			FROM
				pmp_orders t1,pmp_order_detail t4
			WHERE
				t1.order_type = '1'
			AND t1.orderid = t4.order_id
    	and t1.ad_app_id = #{ad_app_id}

		)  AS ydnum,
		(
			SELECT
				sum(num)
			FROM
				pmp_orders t2 ,pmp_order_detail t5
			WHERE
				t2.order_type = '2'
      		AND t2.orderid = t5.order_id
			  and t2.ad_app_id = #{ad_app_id}
			 ) AS sdnum
	FROM
		pmp_orders t
		
	  WHERE t.ad_app_id = #{ad_app_id}
	  GROUP BY t.ad_app_id -->
		 SELECT
		(
			SELECT
				sum(num)
			FROM
				pmp_orders t1,pmp_order_detail t4
			WHERE
				t1.order_type = '1'
			AND t1.orderid = t4.order_id
    		and t1.ad_app_id = #{ad_app_id}
    		and t4.put_time &gt;= #{sdate}
      		and t4.put_time &lt;= #{edate}

		)  AS ydnum,
		(
			SELECT
				sum(num)
			FROM
				pmp_orders t2 ,pmp_order_detail t5
			WHERE
				t2.order_type = '2'
      		AND t2.orderid = t5.order_id
			  and t2.ad_app_id = #{ad_app_id}
       		  and t5.put_time &gt;= #{sdate}
			  and t5.put_time &lt;= #{edate}
			 ) AS sdnum
	FROM
		pmp_orders t
	  WHERE t.ad_app_id = #{ad_app_id}
    GROUP BY t.ad_app_id	 
   
   </select>
   <!--获取app下所有库存量  -->
   <select id="getAllAppStock"  resultType="Map">
 	select t.ssp_app_id as app_id ,sum(t1.stock)as total from pmp_resource t, pmp_resource_stock t1 
	where t.id = t1.pmp_resource_id 
	GROUP BY t.ssp_app_id   
   </select>
   
   <!--修改库存  -->
   <update id="updatePmpResouceStock" parameterType="java.util.Map">
	    update pmp_resource_stock
	     set stock= #{stock}
	    where id in
   		<foreach collection="list" index="index" item="item" separator="," open="(" close=")">  
       		 #{item}  
      	</foreach>
   
   </update>
   
   <!--获取该资源日期下所有库存数  -->
 	<select id="getPmpResouceDatas" parameterType="Map" resultType="Map">
 		select pmp_resource_id,id as pmp_resource_stock_id,mdate from pmp_resource_stock where 1=1
 		<if test="list != null and list.size()> 0 ">
    		and id in
    		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
          	     #{item}
        	</foreach>
    	</if>
 		
 	
 	</select>
 
 
  
</mapper>